PROJECT_NAME="godocs-manager"
PROJECT_PATH="/opt/godocs/godocs-manager"
CONTAINER_NAME="godocs-manager"
BRANCH="master"
REMOTE="origin"
FILE_DOCKER="docker-compose.yml"
LOG_FILE="/var/log/godocs-deploy.log"